[gcode_macro PAUSE_MACRO]
description: Pauses Print
gcode:
    PAUSE
    SET_IDLE_TIMEOUT TIMEOUT={ 30 * 60 }
 
[gcode_macro FC_RESUME]
description: Resume print after Filament Change
gcode:
    ##### read E from pause macro #####
    {% set E = printer["gcode_macro PAUSE"].extrude|float %}
    SET_IDLE_TIMEOUT TIMEOUT={ 10 * 60 }
    G1 E-{ E }
    # Reset extruder position
    G92 E0
    RESUME




[gcode_macro END_PRINT]

gcode:

    G91 ;Relative positioning

    G1 E-2 F2700 ;Retract a bit

    G1 E-2 Z0.2 F2400 ;Retract and raise Z

    G1 X5 Y5 F3000 ;Wipe out

    G1 Z10 ;Raise Z more

    G90 ;Absolute positioning

    G1 X0 Y230 ;Present print

    M106 S0 ;Turn-off fan

    M104 S0 ;Turn-off hotend

    M140 S0 ;Turn-off bed

   # M84 X Y E ;Disable all steppers but Z
